.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
  margin-left:0px;
  margin-right:0px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  /*background-color: #eee; */
  border: 1px solid #ddd;
  /*background-color: rgba(86,61,124,.15); */
  border: 1px solid rgba(86,61,124,.2);
}

.boardlist {
    list-style-type: none;
    min-height: 600px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.boarditems {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: move;
}

.nogrid {
    border: 0px;
}